* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.quiz-container {
  background: #fbfbfc;
  overflow: hidden;
  border-radius: 1rem;
  width: 30rem;
  max-width: 100%;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

.quiz-header {
  padding: 2rem;
}
h2 {
  padding: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
}
ul li {
  margin: 1rem;
}
ul li label {
  font-size: 1.3rem;
  padding-left: 1rem;
  cursor: pointer;
}
.btn {
  width: 100%;
  display: block;
  font-family: inherit;
  padding: 1rem;
  color: white;
  background: #4972db;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  background: #2249aa;
}
